Conversions:

In [1]:
type(66)

int

In [2]:
float(66)

66.0

In [1]:
int(390.8)

390

In [2]:
int('12')

12

In [3]:
int('abc')

ValueError: invalid literal for int() with base 10: 'abc'

In [3]:
my_str = str(12345.45)
my_str

'12345.45'

Conversions with Complex Data Type

In [4]:
num1 = "500"
num2 = "10"
remaining_num = num1 + num2
remaining_num

'50010'

In [5]:
remaining_num = num1 - num2
remaining_num

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In class exercise:   
input a number   
add by 10   
print out the result

In [6]:
value_str = "python world"
value_list = list(value_str)
value_list

['p', 'y', 't', 'h', 'o', 'n', ' ', 'w', 'o', 'r', 'l', 'd']

In [5]:
value_str = "python world"
value_tuple = tuple(value_str)
value_tuple

('p', 'y', 't', 'h', 'o', 'n', ' ', 'w', 'o', 'r', 'l', 'd')

Same applies to dict(list|tuple)