In [1]:
Max = int(input("Enter an integer: "))
num = 2
print(num)
while num < Max + 1:
    i = 2
    while i < num:
        if (num % i) == 0:
            break
        else:
            if i == num-1:
                print(num)
        i += 1
    num += 1

2
3
5
7
11

In [2]:
Max_num = int(input("Enter an interger: "))
All_number = list(range(2,Max_num))
All_prime = []
All_number = All_number[1:Max_num]
while len(All_number)>0:
    prime = All_number[0]
    All_prime.append(prime)
    for num in All_number:
        if num % prime == 0:
            All_number.remove(num)
print(All_prime)

[3, 4, 5, 7]

In [ ]:
Max_num 4 | 0 | 1 | 2 | 3 
All_number
All_prime 
prime

In [2]:
max_n = int(input("Input the maximum number:"))
num = 2 # skip 1
iteration=0
while num < (max_n +1):
    prime = 1
    d = 2
    while d < num:
        iteration += 1
        if num % d == 0:
            prime = 0
            break
        d = d + 1
    if prime == 1:
        print(num)
    num = num +1
print(iteration)

Input the maximum number:1000
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997
78022

In [4]:
name = ("Missandei", "Samwell", "Jorah", "Brienne", "Margaery")
i = 0
m = 0
while i < len(name):
    if len(name[i])>len(name[m]):
           m = i
    i += 1
print(name[m], len(name[m]))

Missandei 9

In [5]:
character_name = ("Missandei", "Samwell", "Jorah", "Brienne", "Margaery")

character_name_list = list(character_name)

max_string = max(character_name_list, key = len)
   
print(max_string)

Missandei

In [6]:
character_name = ("Missandei", "Samwell", "Jorah", "Brienne", "Margaery")
result = ""
for i in range(0,len(character_name)):
    if len(character_name[i]) > len(result):
        result = character_name[i]
print(result)

Missandei

In [11]:
def addition(num1,num2):
    total = num1 + num2
    print("The sume of %d and %d is %d" % (num1,num2,total))
    return("The sume of %d and %d is %d" % (num1,num2,total))

In [12]:
return_v = addition(10,4)

The sume of 10 and 4 is 14

In [17]:
total = 0
def addition(num1,num2):
    num_iteration = 0
    total = num1 + num2
    num_iteration += 1
    print("The sume of %d and %d is %d\n Total number of iterations = %d" % (num1,num2,total, num_iteration))

In [18]:
addition(10,4)

The sume of 10 and 4 is 14
 Total number of iterations = 1

In [19]:
total

0

In [35]:
def check_oddeven(number): 
    count = 0 
    num_iterations = 0 
    
    if (number%2 == 0): 
        num_iterations += 1 
        print("%d is an even number" % number) 
    else: 
        num_iterations += 1 
        print("%d is an odd number" % number) 
        
    print("Total number of iteration = %d " %(num_iterations))

In [36]:
check_oddeven(5)

5 is an odd number
Total number of iteration = 1

In [37]:
def find_square(number): 
    num_iterations = 0 
    square = number**2 
    num_iterations += 1 
    print("Square of %d is %d \nTotal number of iteration = %d " % (number, square, num_iterations))

In [38]:
find_square(2)

Square of 2 is 4
Total number of iteration = 1

In [40]:
find_square(10000)

Square of 10000 is 100000000
Total number of iteration = 1

In [20]:
def check_prime1(number): 
    num_iterations = 0 
    for i in range(2, number): 
        num_iterations += 1 
        
        if number%i == 0: 
            print("%d is not a prime number \nTotal number of iterations = %d" %(number, num_iterations)) 
            return 
        
    print("%d is a prime number \nTotal number of iterations = %d" %(number, num_iterations))

In [21]:
check_prime1(1)

1 is a prime number
Total number of iterations = 0

In [22]:
check_prime1(49)

49 is not a prime number
Total number of iterations = 6

In [23]:
check_prime1(193)

193 is a prime number
Total number of iterations = 191

In [24]:
check_prime1(1847)

1847 is a prime number
Total number of iterations = 1845

In [25]:
def check_prime2(number): 
    num_iterations = 0 
    mid_point = int(number / 2) 
    for i in range(2, mid_point): 
        num_iterations += 1 
        if number%i == 0: 
            print("%d is not a prime number \nTotal number of iterations = %d" %(number, num_iterations)) 
            return 
    print("%d is a prime number \nTotal number of iterations = %d" %(number, num_iterations))

In [26]:
check_prime2(1)

1 is a prime number
Total number of iterations = 0

In [27]:
check_prime2(49)

49 is not a prime number
Total number of iterations = 6

In [28]:
check_prime2(193)

193 is a prime number
Total number of iterations = 94

In [29]:
check_prime2(1847)

1847 is a prime number
Total number of iterations = 921

In [30]:
def find_maxval(num_list): 
    ## author: ckcck
    maxval = num_list[0] 
    num_iterations = 0 
    for i in range(len(num_list)): 
        num_iterations += 1 
        if maxval < num_list[i]: 
            maxval = num_list[i] 
    print("Maximum value of the list = %d \nTotal number of iterations = %d" %(maxval, num_iterations))

In [52]:
find_maxval([123, 67, 25, 79])

Maximum value of the list = 123
Total number of iterations = 4

In [31]:
find_maxval([67, 89, 123, 67, 25, 79])

Maximum value of the list = 123
Total number of iterations = 6

In [54]:
list_1 = [67, 89, 12, 67, 25, 79, 10, 433, 6, 4, 90, 78]
len(list_1)

12

In [55]:
find_maxval(list_1)

Maximum value of the list = 433
Total number of iterations = 12

In [32]:
def find_factorial(number:int): 
    fact = 1 
    num_iterations = 0 
    if (number < 0 or type(number) != int): 
        print("Invalid number") 
        return 
    for i in range(1, number+1): 
        fact = fact * i 
        num_iterations += 1 
    print ("The factorial of %d = %d \nTotal number of iterations = %d" %(number, fact, num_iterations))

In [33]:
find_factorial(1)

The factorial of 1 = 1
Total number of iterations = 1

In [58]:
find_factorial(8)

The factorial of 8 = 40320
Total number of iterations = 8

In [59]:
find_factorial(1050)

The factorial of 1050 = 1410188200745141400252996925676992827609427883860681102196565498836336759274700571301062342565763667730574384945641799898255183843797277503390234956935070394479008695945171075361751490266255689101148400638952696890761606725201668092011058223584197411362725808136521522042355331881040677201517524336650583177256411366707450357076114921552137231355444540586815705134573123811035652300829258848866779288445345880939714666466690931600352950947986039996432744118754275201288974846584827623137897792122234828866268708808373651276334848174069438274783771825876627128631153710955178645802336438821598373242525172486367974756812461614902930111917189057714749908028994429977492262359339566774968421933826661845573051906637774350159842777201017432451096856729583848901554363821690871963837317325736243872364148002548730698225622458872512196920911448958125730334065147981692621576246557948729307409911196659268977449824737887320133166571859768610902901473947123457650502571110106359050311523447786812407139365812881583625481044458877349531018685432954716465488394115659122958734526255536933591914359738150594232473711291251674238772555271930793815825985192385373959108468804902794091333308997906654387218990210896432316359969692946647542629459647405723220544167040523889230769503152154177529658591214286091920818334885793018545403374623359640495796839709709384014013012687979103444399633192318216277501509029976296018451103357572826768431048432485483904156377949766394422704783101532471054714207760435511464546800957250453788222377134546592645406967452675959535949763038875966331731971129199721214052529127807792669916640919732183579343359239597918703189536631735584104688709458017493330567389003035699210216919159335873580170482127718603055097898778534952746567262220574405875417584645973964359858336242322940751239914457356958486503721361054938154425602356741007273505642819375318812777259929805604278204113178492040885487253497253599744730743581176164725418840085566636342828519091247494824276253539056065078460524088183488674664479782491935751641451986001983862705359408369452209318497499455387591386320304376709778016052197826525984538725046076767350582105555907369126126599357472133535283786257752742361071712371083162246333227880188819486706970859272715412889313443305257503562357007473653496252819471178088373765780168140628517776493336902711979149445247736765162103192806316969933073702060508523674642586433795221440274867588588796999943822914833791154288328704000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
Total number of iterations = 1050

In [34]:
def two_for_loops(number): 
    total = 0 
    num_iterations = 0 
    for i in range(number): 
        num_iterations += 1 
        total = total + i 
    for i in range(100): 
        num_iterations += 1 
        total = total + i 
    print("Total iterations are %d" % num_iterations)

In [35]:
two_for_loops(100)

Total iterations are 200

In [62]:
two_for_loops(1000)

Total iterations are 1100

In [63]:
two_for_loops(1000000)

Total iterations are 1000100

In [36]:
def print_pairs(number_list): 
    num_iterations = 0 
    n = len(number_list) 
    for i in range(n): 
        for j in range(n): 
            print(number_list[i], number_list[j]) 
            num_iterations += 1 
    print("Total iterations are %d" % num_iterations)

In [2]:
print_pairs([123, 67])

123 123
123 67
67 123
67 67
Total iterations are 4

In [64]:
print_pairs([123, 67, 25, 79])

123 123
123 67
123 25
123 79
67 123
67 67
67 25
67 79
25 123
25 67
25 25
25 79
79 123
79 67
79 25
79 79
Total iterations are 16

In [37]:
def find_prime(lower, upper): 
    num_iterations = 0 
    
    for num in range(lower, upper): 
        for i in range(2, int(num / 2)): 
            num_iterations += 1        
            if(num % i) == 0: 
                break 
        else: 
            print(num) 
    print("Total iterations are %d" % num_iterations)

In [38]:
find_prime(10, 20)

11
13
17
19
Total iterations are 27

In [39]:
find_prime(10, 2000)

11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997
1009
1013
1019
1021
1031
1033
1039
1049
1051
1061
1063
1069
1087
1091
1093
1097
1103
1109
1117
1123
1129
1151
1153
1163
1171
1181
1187
1193
1201
1213
1217
1223
1229
1231
1237
1249
1259
1277
1279
1283
1289
1291
1297
1301
1303
1307
1319
1321
1327
1361
1367
1373
1381
1399
1409
1423
1427
1429
1433
1439
1447
1451
1453
1459
1471
1481
1483
1487
1489
1493
1499
1511
1523
1531
1543
1549
1553
1559
1567
1571
1579
1583
1597
1601
1607
1609
1613
1619
1621
1627
1637
1657
1663
1667
1669
1693
1697
1699
1709
1721
1723
1733
1741
1747
1753
1759
1777
1783
1787
1789
1801
1811
1823
1831
1847
1861
1867
1871
1873
1877
1879
1889
1901
1907
1913
1931
1933
1949
1951
1973
1979
1987
1993
1997
1999
Total iterations are 143122

In [40]:
def print_combinations(n, m): 
    num_iterations = 0 
    for i in range(n): 
        for j in range(m): 
            print(i, j) 
            num_iterations += 1 
    print("Total iterations are %d" % num_iterations)

In [41]:
print_combinations(10, 12)

0 0
0 1
0 2
0 3
0 4
0 5
0 6
0 7
0 8
0 9
0 10
0 11
1 0
1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
1 10
1 11
2 0
2 1
2 2
2 3
2 4
2 5
2 6
2 7
2 8
2 9
2 10
2 11
3 0
3 1
3 2
3 3
3 4
3 5
3 6
3 7
3 8
3 9
3 10
3 11
4 0
4 1
4 2
4 3
4 4
4 5
4 6
4 7
4 8
4 9
4 10
4 11
5 0
5 1
5 2
5 3
5 4
5 5
5 6
5 7
5 8
5 9
5 10
5 11
6 0
6 1
6 2
6 3
6 4
6 5
6 6
6 7
6 8
6 9
6 10
6 11
7 0
7 1
7 2
7 3
7 4
7 5
7 6
7 7
7 8
7 9
7 10
7 11
8 0
8 1
8 2
8 3
8 4
8 5
8 6
8 7
8 8
8 9
8 10
8 11
9 0
9 1
9 2
9 3
9 4
9 5
9 6
9 7
9 8
9 9
9 10
9 11
Total iterations are 120