In [20]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

https://www.youtube.com/watch?v=eM4uJ6XGnSM

In [21]:
def sigmoid(z):
    return 1/(1+np.e**(-z))

def predict(X, theta):
    z = np.dot(X, theta)
    return sigmoid(z)

def cost_function(X, Y, theta):
    m = len(Y)
    h = predict(X,theta)
    
    cost = (np.dot((-Y.T), np.log(h)) - np.dot((1-Y).T, np.log(1-h))) / m
    return cost

def gradient_descent(X, Y, theta, rate):
    m = len(Y)
    h = predict(X, theta)
    gradient = rate * np.dot(X.T, (h-Y)) / m
    theta -= gradient
    return theta

def decision_boundary(probability):
    classification = 1 if probability >= 0.5 else 0
    return classification

def classify(probabilities):
    return np.vectorize(decision_boundary)(probabilities).flatten()

def train(X, Y, theta, rate, iters):
    cost_history = [2, 1]
    
    for i in range(iters):
        theta = gradient_descent(X, Y, theta, rate)
        
        cost = cost_function(X, Y, theta)
        cost_history.append(cost)
        
        if i % 10000 == 0:
            print("iter: " + str(i) + " cost: "+str(cost))
    return theta, cost_history

def normalize(df, column):
    df[column] = (df[column] -df[column].mean()) / np.std(df[column]) # zscore

In [22]:
passengers = pd.read_csv('../input/titanic_train.csv')
passengers.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
passengers.isna().sum()

In [23]:
X = pd.get_dummies(passengers[['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']], drop_first=True)
X

     Pclass   Age  SibSp  Parch     Fare  Sex_male  Embarked_Q  Embarked_S
0         3  22.0      1      0   7.2500         1           0           1
1         1  38.0      1      0  71.2833         0           0           0
2         3  26.0      0      0   7.9250         0           0           1
3         1  35.0      1      0  53.1000         0           0           1
4         3  35.0      0      0   8.0500         1           0           1
..      ...   ...    ...    ...      ...       ...         ...         ...
886       2  27.0      0      0  13.0000         1           0           1
887       1  19.0      0      0  30.0000         0           0           1
888       3   NaN      1      2  23.4500         0           0           1
889       1  26.0      0      0  30.0000         1           0           0
890       3  32.0      0      0   7.7500         1           1           0

[891 rows x 8 columns]

In [24]:
# convert categorical variables in factors
X = pd.get_dummies(passengers[['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']], drop_first=True)
Y = passengers[['Survived']]

# median fill for na values
X['Age'] = X['Age'].fillna(X['Age'].mean())
X['Embarked_S'] = X['Embarked_S'].fillna(X['Embarked_S'].mean())
X['Embarked_Q'] = X['Embarked_Q'].fillna(X['Embarked_Q'].mean())

# normalize values (zscore)
for column in X.columns:
    normalize(X, column)

# add constant for matrix multiplication
constant = np.ones((X.shape[0],1))
X = np.concatenate((constant, X), axis=1)

# initialize theta to zeros vector
theta = np.zeros((X.shape[1],1))

In [25]:
X # design matrix

array([[ 1.00000000e+00,  8.27377244e-01, -5.92480600e-01, ...,
         7.37695132e-01, -3.07562343e-01,  6.19306364e-01],
       [ 1.00000000e+00, -1.56610693e+00,  6.38789012e-01, ...,
        -1.35557354e+00, -3.07562343e-01, -1.61470971e+00],
       [ 1.00000000e+00,  8.27377244e-01, -2.84663197e-01, ...,
        -1.35557354e+00, -3.07562343e-01,  6.19306364e-01],
       ...,
       [ 1.00000000e+00,  8.27377244e-01,  4.37434839e-15, ...,
        -1.35557354e+00, -3.07562343e-01,  6.19306364e-01],
       [ 1.00000000e+00, -1.56610693e+00, -2.84663197e-01, ...,
         7.37695132e-01, -3.07562343e-01, -1.61470971e+00],
       [ 1.00000000e+00,  8.27377244e-01,  1.77062908e-01, ...,
         7.37695132e-01,  3.25137334e+00, -1.61470971e+00]])

In [26]:
theta

array([[0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.]])

In [ ]:
trained_theta, cost_history = train(X, Y, theta, 0.0001, 100001)

In [ ]:
probabilities = predict(X, trained_theta)
predictions = classify(probabilities)
passengers['prediction'] = predictions

In [ ]:
 # percent correct in training
len(passengers[passengers['Survived'] == passengers['prediction']]) / len(passengers)

In [ ]:
passengers_test = pd.read_csv('titanic_test.csv')

In [ ]:
passengers_test.isna().sum()

In [ ]:
# convert categorical variables in factors
X_test = pd.get_dummies(passengers_test[['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']], drop_first=True)

# median fill for na values
X_test['Age'] = X_test['Age'].fillna(X_test['Age'].mean())
X_test['Fare'] = X_test['Fare'].fillna(X_test['Fare'].mean())

# normalize values (zscore)
for column in X_test.columns:
    normalize(X_test, column)

# add constant for matrix multiplication
constant = np.ones((X_test.shape[0],1))
X_test = np.concatenate((constant, X_test), axis=1)

In [ ]:
X_test

In [ ]:
test_probabilities = predict(X_test, trained_theta)
test_predictions = classify(test_probabilities)
passengers_test['Survived'] = test_predictions

In [ ]:
passengers_test.head()