In [1]:
for letter in ['H','e','l','l','o']:
    print(letter)

H
e
l
l
o

In [2]:
for letter in "Hello":
    print(letter)

H
e
l
l
o

In [4]:
dog_weight = (('Pug',20),('Doberman',80),('Golden Retriever',55))
for i,(dog,weight) in enumerate(dog_weight):
    print("The dog at index %d is a %s and it weights %s pounds." % (i, dog, weight))

The dog at index 0 is a Pug and it weights 20 pounds.
The dog at index 1 is a Doberman and it weights 80 pounds.
The dog at index 2 is a Golden Retriever and it weights 55 pounds.

In [5]:
student_scores = {'John':80,'Sam':60,'Jill':50,'Bob':96}

In [6]:
for score in student_scores.values():
    print(score)

80
60
50
96

In [7]:
for key in student_scores:
    print(key)

John
Sam
Jill
Bob

In [8]:
for key_value in student_scores.items():
    print(key_value)

('John', 80)
('Sam', 60)
('Jill', 50)
('Bob', 96)

In [12]:
for student,score in student_scores.items():
    print("student %s \tScore %s" %(student, score))

student John 	Score 80
student Sam 	Score 60
student Jill 	Score 50
student Bob 	Score 96

Mixed list data

In [13]:
mixed_list = [145, 10.5, 1+3j, 
             True, "Python", 
             (0,1), [2,-5],
             {"Class":"V", "Section":"A"}]
for item in mixed_list:
    print("Type of ", item, " is ", type(item))

Type of  145  is  <class 'int'>
Type of  10.5  is  <class 'float'>
Type of  (1+3j)  is  <class 'complex'>
Type of  True  is  <class 'bool'>
Type of  Python  is  <class 'str'>
Type of  (0, 1)  is  <class 'tuple'>
Type of  [2, -5]  is  <class 'list'>
Type of  {'Class': 'V', 'Section': 'A'}  is  <class 'dict'>

In [15]:
num_list = [2,4,6,8]
square = 0
for val in num_list:
    square = val**2
    print("Square of", val, " is ", square)

Square of 2  is  4
Square of 4  is  16
Square of 6  is  36
Square of 8  is  64

<font color="blue">in Class exercise:</font> count the length of a string. just like the function of len

In [19]:
num_list = [2,4,6,8]
for num in num_list:
    print(num)
    
else:
    print("No more items left in the list")

2
4
6
8
No more items left in the list

In [20]:
letter_list = {"a","b","c","d"}
for letter in letter_list:
    print(letter)
    
else:
    print("No more items left in the list")

c
d
b
a
No more items left in the list

In [21]:
letter_list = ["a","b","c","d"]
for letter in letter_list:
    print(letter)
    
else:
    print("No more items left in the list")

a
b
c
d
No more items left in the list

In [23]:
us_cities = ["New York","Nashville","Seattle"]
for city in us_cities:
    if city == "New York":
        print(city, "is present in the list")

New York is present in the list

In [24]:
numbers = [11,33,55,39,2,55,75,37,22,23,41,13]
for num in numbers:
    if num % 2 == 0:
        print("The list contains an even number:", num)

The list contains an even number: 2
The list contains an even number: 22

In [27]:
""" find out the leap year """
years = [2016, 2017, 2018, 2019, 2020]
for year in years:
    if year % 4 == 0:
        print(year, "is a leap year")
    else:
        print(year, "is not a leap year")

2016 is a leap year
2017 is not a leap year
2018 is not a leap year
2019 is not a leap year
2020 is a leap year