In [2]:
my_range = range(5)
my_range

range(0, 5)

In [3]:
tuple(my_range)

(0, 1, 2, 3, 4)

In [3]:
list(my_range)

[0, 1, 2, 3, 4]

In [4]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [5]:
list(range(-5,5))

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]

In [4]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
for _ in range(3):
    print("Hello")

Hello
Hello
Hello

In [6]:
x = range(5)
for _ in reversed(x):
    print(_)

4
3
2
1
0

In [9]:
list(range(5,10,1))

[5, 6, 7, 8, 9]

In [10]:
list(range(5,10,2))

[5, 7, 9]

In [11]:
tuple(range(5,-10, -2))

(5, 3, 1, -1, -3, -5, -7, -9)

In [12]:
num_list=[]
for i in range(1, 21):
    if (i % 3 == 0 or i % 5 ==0):
        num_list.append(i)

print(num_list)

[3, 5, 6, 9, 10, 12, 15, 18, 20]

<font color="blue">In Class exercise</font>: create a num_list from [100, 200], print the digital number that are only in even number.