In [6]:
num = range(10)

In [2]:
[x*x for x in num]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
letters = [letter for letter in "python"]
letters

['p', 'y', 't', 'h', 'o', 'n']

In [4]:
num = range(100,200)
[x for x in num if x % 2 == 0]

[100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198]

In [8]:
[x for x in range(1,100) if x % 3 == 0]

[0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]

In [7]:
[x * x for x in num if x % 2 != 0]

[1, 9, 25, 49, 81]

In [1]:
string = "Hello 123456 World 678"
numbers = [int(x) for x in string if x.isdigit()]
numbers

[1, 2, 3, 4, 5, 6, 6, 7, 8]

In [10]:
string = "Hello 123456 World"
alpha = [x for x in string if x.isalpha()]
alpha

['H', 'e', 'l', 'l', 'o', 'W', 'o', 'r', 'l', 'd']

In [9]:
stationary = ["Pen", "Marker", "Ink"]
colors = ["Red", "Blue", "Green"]
combined = [(i,j) for j in stationary for i in colors]
combined

[('Red', 'Pen'),
 ('Blue', 'Pen'),
 ('Green', 'Pen'),
 ('Red', 'Marker'),
 ('Blue', 'Marker'),
 ('Green', 'Marker'),
 ('Red', 'Ink'),
 ('Blue', 'Ink'),
 ('Green', 'Ink')]

In [12]:
num_list = [num for num in range(51) if num % 2 == 0 if num % 5 ==0]
num_list

[0, 10, 20, 30, 40, 50]

range(11) find the prime number 10:35 am ET.

In [2]:
num_list = [num for num in range(2,11) if num % 4 != 0 if num % 3 !=0 if num % 4 != 0]
num_list

[2, 5, 7, 10]

In [3]:
[x for x in range(2,11) if all( x % y != 0 for y in range(2,x//2))]

[2, 3, 4, 5, 7]

In [4]:
import math
[x for x in range(2,11) if all(x % y != 0 for y in range(2,int(math.sqrt(x)+1)))]

[2, 3, 5, 7]